
body {
    background: rgb(0,0,0);
    background: linear-gradient(350deg, rgba(0,0,0,1) 0%, rgb(16, 0, 37) 90%, rgb(111, 0, 255) 100%); 
}

.project {
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgb(16, 0, 37) 71%, rgb(111, 0, 255) 100%); }

.button {
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgb(16, 0, 37) 71%, rgb(111, 0, 255) 100%); 
}